body{
    background-image: linear-gradient(-90deg, #4592ff, white, #ff45fc);
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
main{
    min-height: 100vh;
}
.navbar{
    background-color: rgba(54, 54, 54,0.99);
}
.nav-list{
    display: inline;
    list-style-type: none;
    float: left;
    margin-right: 5px;
}
.have{
    position: relative;
    top: 0.42rem;
    color:white;
    text-shadow: 1px 2px 1px black ;
}
.logo{
    width: 20px;
    padding: 1px;
    height: 100%;
    position: absolute;
    z-index: 2;
}
#logo-name{
    color: #ebffff;
    text-shadow: 2px 0 0 black ;
}
.title{
    margin-top: 70px;
    text-align: center;
}
.footer{
    background-color: rgba(54, 54, 54,0.9);
    background-size:cover;
    color: white;
    text-shadow: 1px 0px 1px  black;
}
.footer-text{
    margin: 0 auto;
}
.form{
    margin-left: 20px;
    margin-top: 30px;
    padding: 3px;
}
 input{
    width: 30vw !important;
    margin: auto;
}

.input{
    font-size: smaller !important;
}

.button{
    width: 15vw !important;
    margin-left: 14vw;
    font-size: smaller;
    transition: .2s;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: 2px;
}
#checkbox{
   right: -50px;
    appearance: none ;
    position: relative;
}
.formStyles{
    background-color: rgba(54, 54, 54,0.8);
    color: white;
    background-position: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 14px;
    width: 40vw;
    border-radius: 20px;
    float: right;
box-shadow: 0px 10px 10px #858585;

}
.p-2{
    font-size: 16px;
}

.check-box{
    margin-left: -2vw;
    padding: 2px;
    margin-top: 1.2vh;
}
.error{
    color: #ff4538;
    text-align: center;
}
::-webkit-input-placeholder{
    font-size: 10px;
}
.image{
    width: 30%;
    top: 160px;
    left: 50px;
    position: absolute;
}

i{
    padding:3px;
    position: relative;
    float:right;    
    font-size: smaller;
}
.show{
    padding:2px;
position: relative;
right: 25px;
float:right;
font-size: 8px;
    font-weight: lighter;
    text-shadow: 1px 1px 1px black;
}
.btn:hover{
    transform: scale(1.1);
}
#showBtn{
    outline: none;
    border: none;
}
.showpass{
    padding: 0.2vw;
    text-align: center;
    margin-bottom: -20px;
}
i{
    color: white;
    text-shadow: 1px 1px 2px black;
}
.showtext{
    visibility: hidden;
}