body{
    background-image: linear-gradient(45deg, #4592ff, #ff45fc,#fff645);
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    background-color: rgb(54, 54, 54);
}
.nav-list{
    display: inline;
    list-style-type: none;
    float: left;
    margin-right: 5px;
}

.logo{
    width: 20px;
    padding: 1px;
    height: 100%;
    position: absolute;
    z-index: 2;
}
#logo-name{
    color: #ebffff;
    text-shadow: 2px 0 0 black ;
}
.title{
    margin-top: 70px;
    text-align: center;
}
.form{
    margin-left: 20px;
    margin-top: 30px;
    padding: 3px;
}
.forms input{
    width: 40vw !important;
    margin: auto;
}

.input{
    font-size: smaller !important;
}


.button{
    width: 20vw !important;
    margin-left: 13vw;
}
.formStyles{
    background-color: rgba(54, 54, 54,0.8);
    color: white;
    background-position: center;
    padding: 1.5em;
    font-size: 14px;
    width: 50%;
    margin: auto;
    border-radius: 20px;

}
.p-2{
    font-size: 16px;
}



.forms{
    padding-right: 20vw;
}
.check-box{
    margin-left: -2vw;
    padding: 2px;
    margin-top: 1.2vh;
}
.error{
    color: #ff4538;
    text-align: center;
}

